* {
  box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root,
:root.light {
  --bg-color: #e7ebec;
  --color-text: #ddc700;
  --card-bg-color: #fafafa;
  --hero-banner-shadow: inset 2px -200px 93px -92px rgba(231, 235, 236, 1);
  --movie-details-card: linear-gradient(to right, #fafafa, #ddc700);
  --header: linear-gradient(to right, #ddc700, #ddc700);
  --search-bg: #e7ebec;
  --search-text: #333333;
  --main-card: #333333;
  --movie-title: #222;
  --movie-rating: #b1a800;
}

:root.dark {
  --bg-color: linear-gradient(to bottom, black, #130109);
  --color-text: #ffffff;
  --card-bg-color: #607d8b;
  --hero-banner-shadow: inset 2px -200px 93px -92px rgba(2, 0, 1, 1);
  --movie-details-card: linear-gradient(to right, #000428, #630330);
  --header: rgba(255, 255, 255, 0.25);
  --search-bg: linear-gradient(to right, rgb(0, 4, 40), rgb(99, 3, 48));
  --search-text: #ffffff;
  --main-card: #ffffff;
  --movie-title: #f1f1f1;
  --movie-rating: #e4d804;
}


html {
  scroll-behavior: smooth;
  transition: 0.2s ease-in-out all;
}


.pt-100 {
  padding-top: 100px;
}



::-webkit-scrollbar {
  width: 10px;
  background-color: #ccc;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

body {
  background: var(--bg-color);
  margin: 0;
  font-family: 'Poppins', sans-serif;
}




/* .header-section {

  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  background: var(--header);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(13px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.2s ease-in-out all;
} */



.logo-section {
  width: 200px;
}

#form {
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#form .form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}


.search {
  background-color: transparent;
  border: 2px solid #ddd;
  padding: 1rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  text-align: center;
  color: var(--search-text);
  font-family: inherit;
  /* background: var(--search-bg); */
  background: #12151e none repeat scroll 0 0;
  border: 2px solid #e4d804;
}

.search :focus {
  outline: none;
  background: var(--search-bg);
}

.genre-section {
  grid-column: 4 / span 1;
  grid-row: 1;
}

.genre-section span {
  float: right;
  margin-right: 14px;
  margin-top: 17px;
  font-size: 30px;
}

.search::placeholder {
  color: var(--search-text);
}

.head-para {
  color: var(--color-text);
  margin: 0px 0px 51px 31px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-para h1 {
  margin: 0px;
}

.mt-50 {
  margin-top: 60px;
}

.hide {
  display: none;
}




.movie {
  width: 220px;
  cursor: pointer;
  margin: 1rem;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


.movie img {
  width: 100%;
}

.movie-info h3 {
  text-align: center;
  font-size: 16px;
  color: #fff;
}


.movie-info {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
  color: #f1f1f1;
  width: 100%;
  height: 50%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px 20px 0px 20px;
  text-align: center;
}

.movie:hover .movie-info {
  opacity: 1;
}




.rating_lang {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: #22254b;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
}


/* side navbar area */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  overflow-y: scroll;
}

.sidenav::-webkit-scrollbar {
  display: none;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav .genre-element {
  padding: 14px 8px 14px 8px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: block;
  text-align: center;
  transition: 0.3s;
  border-bottom: 2px solid #818181;
  cursor: pointer;
}

.sidenav .genre-element:hover {
  color: #f1f1f1;
}


.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn-genre {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.genre_background_active {
  /* background-color: red; */
  background: #ddc700;
  color: black !important;
  font-weight: 700;
}

#openbtn-genre {
  color: #ddc700;
}

/* side navbar area */


/* get movie details area  */

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

/* .overlay-content {
    position: relative;
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
.description_image {
  width: 30%;
}

.description_image img {
  width: 62%;
}

.movie-details {
  width: 40%;
}


.movie-details {
  display: flex;
  flex-direction: column;
  color: white;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn2 {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  z-index: 1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }

  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn2 {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* get movie details area  */



body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.main_card {
  color: #fff;
  width: 840px;
  height: auto;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 850px;
  background: var(--movie-details-card);
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.card_left {
  width: 90%;
}

.card_datails {
  width: 100%;
  padding: 30px;
  margin-top: -25px;
}

.card_datails h1 {
  font-size: 30px;
}

.card_right img {

  height: 390px;
  border-radius: 20px 0 0 20px;
}

.card_right {

  border-radius: 2px;
}

.card_cat {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.rating,
.language,
.genre,
.time {
  color: fff;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 15px;
}

.rating {
  background: #FEE715FF;
  color: black;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  -webkit-transition: 300ms ease-in-out;
}

.disc {
  font-weight: 100;
  line-height: 27px;
}

a {
  color: darkcyan;
  display: block;
  text-decoration: none;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  margin-top: 30px;
}

button {
  color: black;
  border: none;
  padding: 20px;
  outline: none;
  font-size: 18px;

  margin-left: 10px;
  background: #FEE715FF;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: 200ms ease-in-out;
}

button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.img_container {
  height: inherit;
}

@media (max-width: 968px) {
  .head-para {
    margin: 44px;
  }

  .banner-text {
    display: none;
  }

  .theme-toggler {
    margin-top: 13px;
  }
}



@media (max-width: 768px) {

  .banner-text {
    display: none;
  }

  .header-section {
    /* padding: 1rem; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: var(--header);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    /* background: rgba(255, 255, 255, 0.25); */
    backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  #form {
    max-width: 483px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo-section {
    width: 120px;
    position: relative;
    /* left: -113px; */
    padding-bottom: 20px;
  }

  .logo-section img {
    width: 120px;
  }

  .search {
    padding: .6rem .6rem;
    border-radius: 50px;
    font-size: 1rem;
  }

  .head-para {

    margin-left: 44px;
    font-size: 1rem;
    margin: 32px 0px 29px 0px;
    justify-content: center;
  }

  .head-para h1 {
    text-align: center;
  }

  .movie {
    max-width: 184px;
  }

  /* 88888888 movie detail part 88888888888888 */
  .main_card {
    margin-top: 90px;
    display: flex;
    flex-direction: column-reverse;
    max-width: 347px;
    position: relative;
    border-radius: 10px;
    background: transparent;
    /* z-index: -2; */
  }

  .card_left {
    width: 100%;
    bottom: 0px;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    border-radius: 10px;

  }

  .card_datails {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin-top: 5px;
    z-index: 1;


  }

  .card_datails h1 {
    font-size: 21px;
    margin-bottom: -7px;
  }

  .card_cat {
    width: 98%;
  }

  .genre {
    padding: 0;
    margin-top: -7px;
    font-weight: 400;
    font-size: 12px;
  }

  .time {
    position: absolute;
    bottom: 206px;
    left: 125px;
  }

  .disc {
    font-weight: 100;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    height: 102px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
  }

  .social-btn {
    margin-top: 10px;
  }

  #buy-button {
    padding: 10px 12px;
    font-size: 14px;
  }

  .img_container {
    height: 700px;

  }

  .card_right img {
    height: 74%;
    border-radius: 10px;
  }

  /* 88888888 movie detail part 88888888888888 */



}

@media (max-width: 427px) {
  body {
    background: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }

  .banner-text {
    display: none;
  }

  #form {
    max-width: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .genre-section span {
    font-size: 25px;
  }

  .head-para {

    margin-left: 24px;
    font-size: 0.8rem;
    margin: 38px 0px 32px 0px;
  }

  .movie {
    max-width: 165px;
  }

  .main_card {
    margin-top: 90px;
    display: flex;
    flex-direction: column-reverse;
    max-width: 347px;
    position: relative;
    border-radius: 10px;
    background: transparent;
  }

  .card_left {
    width: 100%;
    bottom: 0px;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    border-radius: 10px;

  }

  .card_datails {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin-top: 5px;
    z-index: 1;
  }

  .card_datails h1 {
    font-size: 21px;
    margin-bottom: -7px;
  }

  .card_cat {
    width: 98%;
  }

  .genre {
    padding: 0;
    margin-top: -7px;
    font-weight: 400;
    font-size: 12px;
  }

  .time {
    position: absolute;
    bottom: 206px;
    left: 125px;
  }

  .disc {
    font-weight: 100;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    height: 102px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
  }

  .social-btn {
    margin-top: 10px;
  }

  #buy-button {
    padding: 10px 12px;
    font-size: 14px;
  }

  .img_container {
    height: 700px;
  }

  .card_right img {
    height: 74%;
    border-radius: 10px;
  }

  /* .theme-toggler {
    position: absolute;
    top: 34px;
    right: 43px;
  } */

}





@media (max-width: 376px) {
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }

  #form {
    max-width: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  .genre-section span {
    font-size: 31px;
  }

  .head-para {
    margin-left: 24px;
    font-size: 0.8rem;
    margin: 32px 0px 29px 0px;
  }

  .movie {
    max-width: 142px;
  }

  .main_card {
    margin-top: 90px;
    display: flex;
    flex-direction: column-reverse;
    max-width: 347px;
    position: relative;
    border-radius: 10px;
    background: transparent;
  }

  .card_left {
    width: 100%;
    bottom: 0px;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    border-radius: 10px;

  }

  .card_datails {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin-top: 5px;
    z-index: 1;
  }

  .card_datails h1 {
    font-size: 21px;
    margin-bottom: -7px;
  }

  .card_cat {
    width: 98%;
  }

  .genre {
    padding: 0;
    margin-top: -7px;
    font-weight: 400;
    font-size: 12px;
  }

  .time {
    position: absolute;
    bottom: 206px;
    left: 125px;
  }

  .disc {
    font-weight: 100;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    height: 102px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
  }

  .social-btn {
    margin-top: 10px;
  }

  #buy-button {
    padding: 10px 12px;
    font-size: 14px;
  }

  .img_container {
    height: 600px;
  }

  .card_right img {
    height: 86%;
    border-radius: 10px;
  }

  /* .theme-toggler {
    position: absolute;
    top: 34px;
    right: 18px;
  } */

  .form-content {
    margin-left: 10px;
  }

  .form-content .search {
    padding: 10px 0px;
  }


  #form .form-content,
  .genre-section span,
  .theme-toggler {
    margin-top: 0;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

}


@media (min-width: 768px) {
  .header-section {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    z-index: 2;
    transition: all 0.3s;
    width: 100%;
  }

  .header-section2 {

    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(5, 6, 15, 0.37);
    backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  /* 
  header {
    width: 100% !important;
  } */


  #scroll-Top {
    position: fixed;
    top: 0;

  }

  .home-banner {
    z-index: -1;
    margin-top: -118px;
    height: 657px;
    width: 100%;
    position: relative;
    background-image: url(image/banner3.png);
    box-shadow: var(--hero-banner-shadow);
    transition: 0.2s ease-in-out all;
  }




  .banner-text {
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
  }

  .banner-text h1 {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    margin: 0;
    line-height: 1.5em;
    text-align: center;
    position: relative;
    padding-left: 0em;
  }

  .theme-toggler {
    margin-top: 10px;
    margin-right: 15px;
  }

  .typewriter h1 {
    color: white;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 4s steps(30, end);
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0
    }

    to {
      width: 100%
    }
  }

  #form {
    display: flex;
    justify-content: flex-end;
  }

  #form .form-content {
    margin-right: 388px;
    margin-top: 2px;
  }

  #form .genre-section {
    margin-top: -15px;
  }

  .search {
    background-color: transparent;
    /* border: 2px solid #ddd; */
    padding: 1rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    font-family: inherit;
    background: #12151e none repeat scroll 0 0;
    border: 2px solid #e4d804;

  }

  .search :focus {
    background: var(--search-bg);
  }

  .search::placeholder {
    color: #fff;
  }

  .main_card {
    color: var(--main-card);
  }
}



/* dark and light theme toggler */




.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f1c40f;
}



.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);

}

/* dark and light theme toggler */


/* Header banner  */


.banner-bg {
  padding: 160px 0 51px 2px;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner-content {
  max-width: 50%;
  padding-left: 45px;
}

.banner-content .sub-title {
  font-size: 26px;
  margin-bottom: 10px;
  color: #e4d804;
}

.banner-content .title {
  font-size: 60px;
  color: white;
  line-height: 1.2;
  margin-bottom: 29px;
}

.banner-content .title span {
  color: #e4d804;

}

.banner-meta {
  margin-bottom: 35px;
}

.banner-meta ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
}

.banner-meta ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 18px;
}

.banner-meta ul li:last-child {
  margin-right: 0;
}

.banner-meta ul li.quality>span {
  font-size: 11px;
  text-transform: uppercase;
  color: #21232b;
  background: #fff;
  font-weight: 700;
  padding: 7px 11px;
  line-height: 1;
}

.banner-meta ul li.quality>span:last-child {
  background: transparent;
  color: #fff;
  margin-left: 9px;
  border: 2px solid #fff;
  padding: 5px 10px;
}

.banner-meta ul li.category>a {
  font-size: 14px;
  font-weight: 500;
  color: #e3dfdf;
  text-decoration: none;
}

.banner-meta ul li.category>a+a {
  margin-left: 5px;
}


.banner-btn {
  user-select: none;
  -moz-user-select: none;
  background: #12151e none repeat scroll 0 0;
  border: 2px solid #e4d804;
  border-radius: 50px;
  color: #e3dfdf;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 16px 34px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  max-width: 200px;
  text-decoration: none;
}

@media (max-width: 991.98px) {

  .banner-bg {
    padding: 220px 0 160px;
    background-position: center center;
  }
}


@media (max-width: 767.98px) {
  .banner-bg {
    padding: 16px 0 55px 2px;
  }

  .banner-content .sub-title {
    font-size: 24px;
  }

  .banner-content .title {
    font-size: 24px;
  }
}

@media only screen and (min-width: 350px) and (max-width: 767px) {
  .sub-title {
    display: none;
  }

  .movie-content .top .title a {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  .banner-bg {
    padding: 136px 0 143px 2px;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .banner-content {
    display: flex;
    max-width: 100%;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .banner-content .title {
    font-size: 26px;
    text-align: center;
  }

  .banner-btn {
    padding: 6px 24px;
  }


  #form .form-content,
  .genre-section span,
  .theme-toggler {
    margin-top: 0;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



@media only screen and (min-width: 768px) and (max-width: 999px) {

  #form .form-content {
    margin-right: 177px;
    margin-top: 2px;
  }

  .theme-toggler {
    margin-right: 20px;
  }

  .banner-bg {
    padding: 0px 0 0px;
    background-position: top right;
    background-size: cover;
  }

  .banner-content {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0px;
    padding: 112px 0px;

  }
}


/* Header banner  */



/* movie-box area start */


.mb-50 {
  margin-bottom: 50px;
}

.movie-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;


}

.movie-item {
  cursor: pointer;

}


.movie-poster {
  margin-bottom: 23px;
  position: relative;
  /* width: 100px; */
}

.movie-poster img {
  max-width: 300px;
  border-radius: 5px;
}

.movie-content {
  padding-right: 10px;
}

.movie-content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.movie-content .top .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  flex-grow: 1;
  text-decoration: none;
  color: var(--movie-title);
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0px;
}


.movie-content .top .title a {

  text-decoration: none;
  color: var(--movie-title);
}

.movie-content .top .date {
  font-size: 14px;
  font-weight: 500;
  margin-right: 0px;
  color: var(--movie-rating);
}

.movie-content .bottom ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.movie-content .bottom ul li {
  display: flex;
  align-items: center;
}

.movie-content .bottom ul li .quality {
  border: 2px solid var(--main-card);
  padding: 5px 10px;
  line-height: 1;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  color: var(--movie-rating);
}

.movie-content .bottom ul li>span {
  color: var(--main-card);
  font-size: 12px;
}

.movie-content .bottom ul li>span i {
  margin-right: 5px;
}

.movie-content .bottom ul li .ratings {
  margin-left: 15px;
}







@media (max-width: 768px) {
  .movie-box .movie-item {
    width: 45%;
  }

  .movie-content .top .title {
    font-size: 12px;
  }

  .movie-content {
    padding: 0px 10px;
  }

  .movie-content .top .date {
    margin-right: 0px;
    margin-left: 7px;

  }

  .movie-poster {
    margin-bottom: 13px;
  }
}

@media (max-width: 450px) {
  .movie-poster img {
    max-width: 182px;
    border-radius: 5px;
  }
}


@media (max-width: 400px) {
  .movie-poster img {
    max-width: 172px;
    border-radius: 5px;
  }
}

@media (max-width: 370px) {
  .movie-poster img {
    max-width: 163px;
    border-radius: 5px;
  }
}

/* movie-box area start */



/* movie filter part  */

.ucm-nav-wrap .nav-tabs {
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.ucm-nav-wrap .nav-tabs .nav-link {
  border-radius: 50px;
  background: #20212b;
  font-size: 12px;
  font-weight: 600;
  color: #e3dfdf;
  border: 2px solid #2d303d;
  padding: 11px 27px;
  margin-bottom: 0;
  transition: none !important;
}

.ucm-nav-wrap .nav-tabs li {
  margin-right: 12px;
  margin-top: 12px;
  list-style-type: none;
}

.ucm-nav-wrap .nav-tabs li:last-child {
  margin-right: 0;
}

/* .ucm-nav-wrap .nav-tabs .nav-link.active {
  color: #fff;
  border-color: #e4d804;
} */
.singleActive {
  color: #fff;
  border-color: #e4d804;
}

.ucm-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 31px;
}

/* movie filter part  */




.container-online {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px 40px;
}

.mb-25 {
  margin-bottom: 25px;
}

.live-bg {
  background-position: left center;
  background-size: cover;
  padding: 120px 0 120px;
}

.live-bg .title-style-two .sub-title {
  color: #656363;
}

.section-title .title {
  margin-bottom: 0;
  font-size: 36px;
}

.live-bg .title-style-two .title {
  color: #1e1b29;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.title-style-two .sub-title {
  padding-left: 53px;
}

.section-title .sub-title {
  display: block;
  line-height: 1;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  margin-bottom: 12px;
  letter-spacing: 1px;
  color: #e4d804;
}

.mx-21 {
  margin-left: 35px;
}

.title-style-two .sub-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 40px;
  height: 3px;
  background: #e4d804;
}

.live-movie-img {
  margin-left: 70px;
}

.live-movie-img img {
  max-width: initial;
}

.live-movie-content>p {
  color: #6a6a6a;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}

.live-fact-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 24px;
}

.live-fact-wrap .resolution h2 {
  font-size: 60px;
  text-shadow: 0px 3px 24px rgba(160, 160, 160, 0.09);
  line-height: 1;
  margin-bottom: 0;
  color: #d81c2b;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #d81c2b;
  font-family: 'Poppins', sans-serif;
}

.live-fact-wrap .resolution {
  margin-right: 35px;
  margin-bottom: 15px;
}

.active-customer {
  margin-bottom: 15px;
}

.active-customer h4 {
  font-size: 38px;
  color: #1e1b29;
  text-shadow: 0px 3px 4px rgba(30, 30, 30, 0.18);
  line-height: .8;
  margin-bottom: 5px;
}

.active-customer>p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  color: #1e1b29;
  line-height: 1;
}

a {
  text-decoration: none;
}

.watch-btn {
  user-select: none;
  -moz-user-select: none;
  background: #12151e none repeat scroll 0 0;
  border: 2px solid #e4d804;
  border-radius: 50px;
  color: #e3dfdf;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 16px 34px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  max-width: 200px;
}

.live-movie-content>.watch-btn {
  box-shadow: 0px 3px 24px 0px rgba(160, 160, 160, 0.5);
  background: #e4d804;
  color: #1e1b29;
}

.live-movie-content>.watch-btn:hover {
  background: transparent;
  box-shadow: none;
}

.live-movie-img {
  /* width: 100%; */
}

.live-movie-img img {
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .container-online {
    flex-direction: column;
    padding: 0px 40px;
  }

  .mx-21 {
    margin-left: 0px;
  }

  .live-movie-img {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 40px;
  }

  .section-title .title {
    margin-bottom: 0;
    font-size: 26px;
    text-align: center;
    margin-top: 25px;
  }

  .title-style-two .sub-title {
    padding-left: 0px;
  }

  .section-title .sub-title,
  .live-movie-content>p {
    text-align: center;
  }

  .title-style-two .sub-title::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 3px;
    background: #e4d804;
  }

  .live-fact-wrap .resolution {
    margin-right: 23px;
    margin-bottom: 15px;
  }

  .live-fact-wrap {
    justify-content: space-around;
  }

  .live-fact-wrap .resolution h2 {
    font-size: 42px;
  }

  .active-customer h4 {
    font-size: 24px;
  }

  .active-customer>p {
    font-size: 12px;
  }

  .live-movie-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


}