* {
  box-sizing: border-box;
}


:root,
:root.light {
  --bg-color: #e7ebec;
  --color-text: #ddc700;
  --card-bg-color: #fafafa;
  --hero-banner-shadow: inset 2px -200px 93px -92px rgba(231, 235, 236, 1);
  --movie-details-card: linear-gradient(to right, #fafafa, #ddc700);
  --header: linear-gradient(to right, #ddc700, #ddc700);
  --search-bg: #e7ebec;
  --search-text: #333333;
  --main-card: #333333;
}

:root.dark {
  --bg-color: linear-gradient(to bottom, black, #130109);
  --color-text: #ffffff;
  --card-bg-color: #607d8b;
  --hero-banner-shadow: inset 2px -200px 93px -92px rgba(2, 0, 1, 1);
  --movie-details-card: linear-gradient(to right, #000428, #630330);
  --header: rgba(255, 255, 255, 0.25);
  --search-bg: linear-gradient(to right, rgb(0, 4, 40), rgb(99, 3, 48));
  --search-text: #ffffff;
  --main-card: #ffffff;
}


html {
  scroll-behavior: smooth;
  transition: 0.2s ease-in-out all;
}


.pt-100 {
  padding-top: 100px;
}



::-webkit-scrollbar {
  width: 10px;
  background-color: #ccc;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

body {
  background: var(--color-bg);
  /* transition: all 0.3s; */
  margin: 0;
}




.header-section {

  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  background: var(--header);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(13px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* transition: 0.2s ease-in-out all; */
}



.logo-section {
  width: 200px;
}

#form {
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#form .form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}


.search {
  background-color: transparent;
  border: 2px solid #ddd;
  padding: 1rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  text-align: center;
  color: var(--search-text);
  font-family: inherit;
  background: var(--search-bg);
}

.search :focus {
  outline: none;
  background: var(--search-bg);
}

.genre-section {
  grid-column: 4 / span 1;
  grid-row: 1;
}

.genre-section span {
  float: right;
  margin-right: 14px;
  margin-top: 17px;
  font-size: 30px;
}

.search::placeholder {
  color: var(--search-text);
}

.head-para {
  color: var(--color-text);
  margin: 61px 0px 51px 61px;
  font-size: 1.5rem;
}

.hide {
  display: none;
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.3s;
}

#popular {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#topRated {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 220px;
  margin: 1rem;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


.movie img {
  width: 100%;
}

.movie-info h3 {
  text-align: center;
  font-size: 16px;
  color: #fff;
}


.movie-info {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
  color: #f1f1f1;
  width: 100%;
  height: 50%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px 20px 0px 20px;
  text-align: center;
}

.movie:hover .movie-info {
  opacity: 1;
}




.rating_lang {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: #22254b;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
}


/* side navbar area */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  overflow-y: scroll;
}

.sidenav::-webkit-scrollbar {
  display: none;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav .genre-element {
  padding: 14px 8px 14px 8px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: block;
  text-align: center;
  transition: 0.3s;
  border-bottom: 2px solid #818181;
  cursor: pointer;
}

.sidenav .genre-element:hover {
  color: #f1f1f1;
}


.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn-genre {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.genre_background_active {
  /* background-color: red; */
  background: linear-gradient(to right, #000428, #630330);
  color: white;
}

/* side navbar area */


/* get movie details area  */

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

/* .overlay-content {
    position: relative;
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
.description_image {
  width: 30%;
}

.description_image img {
  width: 62%;
}

.movie-details {
  width: 40%;
}


.movie-details {
  display: flex;
  flex-direction: column;
  color: white;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn2 {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  z-index: 1;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }

  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn2 {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* get movie details area  */



body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.main_card {
  color: #fff;
  width: 840px;
  height: auto;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 850px;
  background: var(--movie-details-card);
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.card_left {
  width: 90%;
}

.card_datails {
  width: 100%;
  padding: 30px;
  margin-top: -25px;
}

.card_datails h1 {
  font-size: 30px;
}

.card_right img {

  height: 390px;
  border-radius: 20px 0 0 20px;
}

.card_right {

  border-radius: 2px;
}

.card_cat {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.rating,
.language,
.genre,
.time {
  color: fff;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 15px;
}

.rating {
  background: #FEE715FF;
  color: black;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  -webkit-transition: 300ms ease-in-out;
}

.disc {
  font-weight: 100;
  line-height: 27px;
}

a {
  color: darkcyan;
  display: block;
  text-decoration: none;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  margin-top: 30px;
}

button {
  color: black;
  border: none;
  padding: 20px;
  outline: none;
  font-size: 18px;

  margin-left: 10px;
  background: #FEE715FF;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: 200ms ease-in-out;
}

button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.img_container {
  height: inherit;
}

@media (max-width: 968px) {
  .head-para {
    margin: 44px;
  }

  .banner-text {
    display: none;
  }

  .theme-toggler {
    margin-top: 13px;
  }
}



@media (max-width: 768px) {

  .banner-text {
    display: none;
  }

  .header-section {
    /* padding: 1rem; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: var(--header);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    /* background: rgba(255, 255, 255, 0.25); */
    backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  #form {
    max-width: 483px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo-section {
    width: 120px;
    position: relative;
    left: -113px;
  }

  .logo-section img {
    width: 120px;
  }

  .search {
    padding: .6rem .6rem;
    border-radius: 50px;
    font-size: 1rem;
  }

  .head-para {

    margin-left: 44px;
    font-size: 1rem;
    margin: 32px 0px 29px 26px;
  }

  .movie {
    max-width: 184px;
  }

  /* 88888888 movie detail part 88888888888888 */
  .main_card {
    margin-top: 90px;
    display: flex;
    flex-direction: column-reverse;
    max-width: 347px;
    position: relative;
    border-radius: 10px;
    background: transparent;
    /* z-index: -2; */
  }

  .card_left {
    width: 100%;
    bottom: 0px;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    border-radius: 10px;

  }

  .card_datails {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin-top: 5px;
    z-index: 1;


  }

  .card_datails h1 {
    font-size: 21px;
    margin-bottom: -7px;
  }

  .card_cat {
    width: 98%;
  }

  .genre {
    padding: 0;
    margin-top: -7px;
    font-weight: 400;
    font-size: 12px;
  }

  .time {
    position: absolute;
    bottom: 206px;
    left: 125px;
  }

  .disc {
    font-weight: 100;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    height: 102px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
  }

  .social-btn {
    margin-top: 10px;
  }

  #buy-button {
    padding: 10px 12px;
    font-size: 14px;
  }

  .img_container {
    height: 700px;

  }

  .card_right img {
    height: 74%;
    border-radius: 10px;
  }

  /* 88888888 movie detail part 88888888888888 */



}

@media (max-width: 427px) {
  body {
    /* background: linear-gradient(to right, #000428, #630330); */
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }

  .banner-text {
    display: none;
  }

  #form {
    max-width: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .genre-section span {
    font-size: 25px;
  }

  .head-para {

    margin-left: 24px;
    font-size: 0.8rem;
    margin: 38px 0px 32px 32px;
  }

  .movie {
    max-width: 165px;
  }

  .main_card {
    margin-top: 90px;
    display: flex;
    flex-direction: column-reverse;
    max-width: 347px;
    position: relative;
    border-radius: 10px;
    background: transparent;
  }

  .card_left {
    width: 100%;
    bottom: 0px;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    border-radius: 10px;

  }

  .card_datails {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin-top: 5px;
    z-index: 1;
  }

  .card_datails h1 {
    font-size: 21px;
    margin-bottom: -7px;
  }

  .card_cat {
    width: 98%;
  }

  .genre {
    padding: 0;
    margin-top: -7px;
    font-weight: 400;
    font-size: 12px;
  }

  .time {
    position: absolute;
    bottom: 206px;
    left: 125px;
  }

  .disc {
    font-weight: 100;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    height: 102px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
  }

  .social-btn {
    margin-top: 10px;
  }

  #buy-button {
    padding: 10px 12px;
    font-size: 14px;
  }

  .img_container {
    height: 700px;
  }

  .card_right img {
    height: 74%;
    border-radius: 10px;
  }

  .theme-toggler {
    position: absolute;
    top: 34px;
    right: 43px;
  }

}





@media (max-width: 376px) {
  body {
    /* background: linear-gradient(to bottom, #000428, #630330); */
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }

  #form {
    max-width: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .genre-section span {
    font-size: 25px;
  }

  .head-para {
    margin-left: 24px;
    font-size: 0.8rem;
    margin: 32px 0px 29px 26px;
  }

  .movie {
    max-width: 142px;
  }

  .main_card {
    margin-top: 90px;
    display: flex;
    flex-direction: column-reverse;
    max-width: 347px;
    position: relative;
    border-radius: 10px;
    background: transparent;
  }

  .card_left {
    width: 100%;
    bottom: 0px;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    border-radius: 10px;

  }

  .card_datails {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin-top: 5px;
    z-index: 1;
  }

  .card_datails h1 {
    font-size: 21px;
    margin-bottom: -7px;
  }

  .card_cat {
    width: 98%;
  }

  .genre {
    padding: 0;
    margin-top: -7px;
    font-weight: 400;
    font-size: 12px;
  }

  .time {
    position: absolute;
    bottom: 206px;
    left: 125px;
  }

  .disc {
    font-weight: 100;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    height: 102px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
  }

  .social-btn {
    margin-top: 10px;
  }

  #buy-button {
    padding: 10px 12px;
    font-size: 14px;
  }

  .img_container {
    height: 600px;
  }

  .card_right img {
    height: 86%;
    border-radius: 10px;
  }

  .theme-toggler {
    position: absolute;
    top: 34px;
    right: 18px;
  }

  .form-content {
    margin-left: 10px;
  }

  .form-content .search {
    padding: 10px 0px;
  }

}


@media (min-width: 1000px) {
  .header-section {

    padding: 1rem;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    margin: 0px 60px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(5, 6, 15, 0.37);
    backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 2;
    transition: all 0.3s;
  }



  #scroll-Top {
    position: sticky;
    top: 50px;
  }

  .home-banner {
    z-index: -1;
    margin-top: -118px;
    height: 657px;
    width: 100%;
    /* background-color: purple; */
    position: relative;
    background-image: url(image/banner3.png);
    box-shadow: var(--hero-banner-shadow);
    transition: 0.2s ease-in-out all;
    /* box-shadow: inset 2px -200px 93px -92px rgba(231, 235, 236, 1); */
  }


  .banner-text {
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
  }

  .banner-text h1 {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    margin: 0;
    line-height: 1.5em;
    text-align: center;
    position: relative;
    padding-left: 0em;
  }

  .theme-toggler {
    margin-top: 10px;
  }

  .typewriter h1 {
    color: white;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 4s steps(30, end);
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0
    }

    to {
      width: 100%
    }
  }

  #form {
    display: flex;
    justify-content: flex-end;
  }

  #form .form-content {
    margin-right: 286px;
    margin-top: 2px;
  }

  #form .genre-section {
    margin-top: -15px;
  }

  .search {
    background-color: transparent;
    border: 2px solid #ddd;
    padding: 1rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    font-family: inherit;
    background: linear-gradient(to right, #000428, #630330);

  }

  .search :focus {
    background: var(--search-bg);
  }

  .search::placeholder {
    color: #fff;
  }

  .main_card {
    color: var(--main-card);
  }
}



/* dark and light theme toggler */




.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);

}

/* dark and light theme toggler */